<div class="kitten">
  <%= link_to image_tag(kitten.image), new_kitten_category_path(id: kitten.id), class: "kitten-link" %>
  <% kitten.categories.each do |category| %>
    <p><%= category.name %></p>
  <% end %>
</div>